apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
spec:
  template:
    spec:
      containers:
        - name: manager
          args:
            - --leader-elect
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=:8443
            - --release-on-cancel
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - "ALL"
