resources:
  - ../default

patches:
  - target:
      kind: Deployment
      group: apps
      version: v1
      name: controller-manager
    patch: |-
      - op: remove
        path: /spec/template/spec/securityContext
      - op: remove
        path: /spec/template/spec/containers/0/securityContext
