name: Documentation Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
permissions:
  contents: read
  statuses: write
  checks: write
  pull-requests: write

jobs:
  vale:
    name: vale-linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: errata-ai/vale-action@v2.1.1
        with:
          fail_on_error: 'true'

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: tcort/github-action-markdown-link-check@v1
        with:
          config-file: ci/.markdown-link-check.json
          file-extension: '.md'

  api-reference-generated:
    name: API Reference Generated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Generate API Reference
        run: make docs-generate-api-ref

      - name: Check API Reference generated
        run: git diff --exit-code docs/

  ci-success-check:
    name: All Docs CI checks passed
    runs-on: ubuntu-latest
    needs: [ vale, markdown-link-check, api-reference-generated ]
    if: always()
    steps:
      - name: Determine CI status
        id: status
        run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more CI jobs failed or were cancelled"
            exit 1
          else
            echo "All required jobs passed successfully"
          fi
